/* CSS styles */
body {
    margin: 0;
    padding: 0;
    display: flex;
  }

  .navbar {
    width: 250px;
    background-color: aqua;
  }

  .navbar ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
  }

  .navbar li {
    padding: 10px;
  }

  .content {
    flex: 1;
    padding: 20px;
  }

  h1{
    color: black;
    background-color: aqua;
  }
  .Topic {
    margin-left: 15px;
    margin-top: 40px;
  }